
.container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: 7rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width:500px;
    border-bottom: 1px solid #d7d8da;
    
}

.progress{
    margin-top:6rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-140px;
    font-size:26px;
}

@media(max-width:560px){
    .progress{
        grid-template-columns: repeat(2,1fr);
        }
    .progressbar{
        margin-bottom: 10rem;
        margin-left: 20px;
        margin-right: 6px
    }

    .title{
        width:300px
    }
}

@media (max-width:430px){
    .container{
        width:100%;
    }

    .progress{
        display:flex;;
        flex-direction: column;
        }

       
}